[*.cs]

# CS8602: null 가능 참조에 대한 역참조입니다.
dotnet_diagnostic.CS8602.severity = silent

# CS8601: 가능한 null 참조 할당입니다.
dotnet_diagnostic.CS8601.severity = none

# CS8604: 가능한 null 참조 인수입니다.
dotnet_diagnostic.CS8604.severity = none
